#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.header {
  padding: 15px;
  background-color: #2D3142;
  color: white;
}

.footer {
  padding: 15px;
  background-color: #2D3142;
  color: white;
}

